/* ======================================================
   RARA DRW SKINCARE
   Premium Luxury Theme
   Version 1.0
====================================================== */

:root{

--primary:#ff2d75;
--secondary:#ffb7cf;
--gold:#f8d36d;
--dark:#0d0d12;
--card:#16161f;
--white:#ffffff;
--text:#e9e9e9;
--shadow:0 15px 35px rgba(0,0,0,.35);
--radius:20px;
--transition:.35s;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;
background:linear-gradient(180deg,#090909,#12121b,#090909);
color:var(--text);
overflow-x:hidden;

}

/* Scroll */

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-thumb{

background:linear-gradient(var(--primary),var(--gold));
border-radius:20px;

}

/* Link */

a{

text-decoration:none;
color:white;

}

/* Image */

img{

max-width:100%;
display:block;

}

/* Container */

.container{

width:90%;
max-width:1300px;
margin:auto;

}
